/* here i used root to take multiple properties using other style with just variable name  */

:root {
    --text-color: white;
}


/* making background as black color */

body {
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 2px solid white;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}


/* styling  to h1 with mix-blade */

h1 {
    mix-blend-mode: difference;
    color: var(--text-color);
    margin: 0px 50vh;
    text-align: center;
    position: fixed;
}


/* aligned fieldset  */

.cali {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    box-shadow: 05px 05px 20px rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
    width: 300px;
    height: 375px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
}


/* making div as transparent with display property  */

.calsi {
    color: transparent;
    display: flex;
}


/* arranging textfield with designable purpose */

.arith {
    text-align: center;
    background-color: rgb(30, 25, 28);
    font-size: larger;
    padding: 5px 0px 5px 0px;
    width: 100%;
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    margin: 10px;
}


/* extra style */

.arith:hover {
    background-color: rgb(120, 120, 125);
}


/* making operators background color different  then other textfield */

#arith-sym {
    background-color: rgb(25, 25, 40);
}


/* extra style  */

#arith-sym:hover {
    background-color: rgb(84, 84, 84);
}


/* .que {
            text-align: right;
            font-size: 30px;
            font-weight: 400;
            width: 100%;
            height: 80px;
            background-color: transparent;
            color: var(--text-color);
            border: none;
            border-radius: 20px;
        } */


/* styling to answer after calculation submit  */

.ans {
    outline: none;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    width: 90%;
    margin-left: 10px;
    height: 30px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
}


/* arranging button */

.btn {
    display: inline-block;
}


/* giving some attractive style */

#arith-sym-ans {
    background-color: aqua;
}


/* making textarea as interactive   */

#display {
    resize: none;
    outline: none;
    text-align: right;
    font-size: 28px;
    font-weight: 400;
    font-family: cursive;
    width: 90%;
    margin-left: 10px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    caret-color: white;
    cursor: url(cursor.ani);
}


/* deleting scrollbar of textarea */

#display::-webkit-scrollbar {
    display: none;
}


/* CSS CODE END HERE */